<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Morbi sed sem dolor. Cras vitae turpis sit amet sapien fermentum tempor quis
    at nunc. In vitae euismod neque. Vestibulum mattis arcu leo, sit amet
    iaculis quam viverra ornare. In auctor felis vestibulum, consequat arcu ut,
    dapibus massa. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia curae; Suspendisse rhoncus viverra orci. Donec
    semper, nunc nec scelerisque ultricies, neque elit placerat tellus, id
    dignissim justo neque non purus. Donec id accumsan ligula. Suspendisse a
    ligula ut mi dignissim elementum. Quisque sit amet est tincidunt arcu
    tincidunt efficitur mollis at enim. Mauris scelerisque erat id nibh
    consequat, in cursus arcu elementum. Vivamus rhoncus, nisi eget bibendum
    lobortis, elit nibh aliquam ex, semper venenatis mauris ligula eu libero.
    Aenean luctus libero nec sodales interdum.
  </p>
</section>
