<h1 class="text-3xl">Contacto</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Donec porttitor commodo tincidunt. Duis id sapien sed leo feugiat lacinia.
    Donec euismod varius risus vitae tempus. Nulla quis dolor euismod, varius
    nibh et, ultricies purus. Ut ex velit, imperdiet id iaculis vitae, pulvinar
    at neque. Praesent maximus arcu sit amet est maximus ornare. Quisque sit
    amet aliquet arcu. Phasellus vitae mattis dui, ut blandit quam. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Curabitur consequat laoreet risus quis rutrum. Nam pretium fringilla orci
    vel rhoncus. Vestibulum porttitor risus vitae mi dapibus cursus. In
    scelerisque ipsum tortor, non ultrices tortor imperdiet sit amet. Ut lacinia
    diam in lectus sodales, vitae posuere arcu finibus.
  </p>
</section>
