<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor
    sagittis ullamcorper. Proin in dictum diam. Etiam fringilla turpis diam, sed
    placerat lorem sollicitudin vitae. In finibus feugiat bibendum. Donec
    consectetur magna ante, eget congue turpis ultrices pulvinar. Nullam
    vestibulum velit arcu, a auctor nunc elementum vel. Nulla porttitor suscipit
    libero, non auctor eros maximus et.
  </p>
</section>
